# Reload with "sudo docker restart caddy"

# (cloudflare) {
#     tls {
#         dns cloudflare {env.CLOUDFLARE_API_TOKEN}
#     }
# }

{
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

searxng.gls.{$DOMAIN} {
    # import cloudflare
    reverse_proxy searxng:8080
}

nextcloud.gls.{$DOMAIN} {
    # import cloudflare
    reverse_proxy nextcloud:80
}

immich.gls.{$DOMAIN} {
    # import cloudflare
    reverse_proxy immich:2283
}

jellyfin.gls.{$DOMAIN} {
    # import cloudflare
    reverse_proxy jellyfin:8096
}

calibre.gls.{$DOMAIN} {
    reverse_proxy calibre-web:8083
}

openwebui.gls.{$DOMAIN} {
    # import cloudflare
    reverse_proxy openwebui:8080
}

qbittorrent.gls.{$DOMAIN} {
    reverse_proxy gluetun:8080
}

radarr.gls.{$DOMAIN} {
    reverse_proxy radarr:7878
}

prowlarr.gls.{$DOMAIN} {
    reverse_proxy prowlarr:9696
}
