# Reload with "sudo docker restart caddy"

# (cloudflare) {
#     tls {
#         dns cloudflare {env.CLOUDFLARE_API_TOKEN}
#     }
# }

{
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

technitium.{$DOMAIN} {
    reverse_proxy technitium:5380
}

searxng.{$DOMAIN} {
    # import cloudflare
    reverse_proxy searxng:8080
}

nextcloud.{$DOMAIN} {
    # import cloudflare
    reverse_proxy nextcloud:80
}

immich.{$DOMAIN} {
    # import cloudflare
    reverse_proxy immich:2283
}

paperless.{$DOMAIN} {
    reverse_proxy paperless:8000
}

jellyfin.{$DOMAIN} {
    # import cloudflare
    reverse_proxy jellyfin:8096
}

seerr.{$DOMAIN} {
    # import cloudflare
    reverse_proxy seerr:5055
}

calibre.{$DOMAIN} {
    # import cloudflare
    reverse_proxy calibre-web:8083
}

audiobookshelf.{$DOMAIN} {
    reverse_proxy audiobookshelf:80
}

openwebui.{$DOMAIN} {
    # import cloudflare
    reverse_proxy openwebui:8080
}

qbittorrent.{$DOMAIN} {
    # import cloudflare
    reverse_proxy gluetun:8080
}

radarr.{$DOMAIN} {
    # import cloudflare
    reverse_proxy radarr:7878
}

sonarr.{$DOMAIN}
    # import cloudflare
    reverse_proxy sonarr:8989
}

lidarr.{$DOMAIN}
    # import cloudflare
    reverse_proxy lidarr:8686
}

prowlarr.{$DOMAIN} {
    # import cloudflare
    reverse_proxy prowlarr:9696
}

lazylibrarian.{$DOMAIN} {
    reverse_proxy lazylibrarian:5299
}
